@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(241, 238, 238);
    font-family: 'Karla', sans-serif;
}

:root {
    --cor_um: #ffffff;
    --cor_dois: #e593b3;
    --cor_background_um: #f171a2;
    --cor_backgroud_dois: #82d7f8;
    --cor_backgroud_tres: #e273d0;

}

body {
    background: linear-gradient(180deg, var(--cor_background_um), var(--cor_backgroud_dois), var(--cor_backgroud_tres)) fixed;
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    margin: 0 auto;
    gap: 20px;
    background: var(--cor_um);
    padding-top: 5vw;
    padding: 20px;
    margin-top: 80px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.principal img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.principal h3 {
    font-size: 1.2rem;
    text-align: center;
}

.botao {
    background-color: var(--cor_dois);
    color: var(--cor_um);
    width: 100%;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
    border: solid 5px var(--cor_dois);
    transition: all 0.5s linear;
    border-radius: 50px;
}

.botao:hover {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

@media (max-width: 600px) {
    .principal {
        width: 90vw;
    }
}